* {
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
}

/* Header section below */
.headerContainer {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: column;
  color: #304964;
  position: static;
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12); */
}

.headerTop {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  overflow: hidden;
}
.headerBottom {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  color: white;
  background-color: #304964;
  overflow: hidden;
}
.headerTopLeft {
  height: 100%;
  width: 50%;
  display: flex;
  flex: 1;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}
.headerTopRight {
  height: 100%;
  width: 50%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  position: relative;
}
.headerLogo {
  height: 80%;
  padding-left: 50px;
  padding-right: 40px;
}
.headerTitle {
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.headerButton {
  height: 60%;
  width: 15%;
  color: #fff;
  background-color: #304964;
  padding: 15px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerButton:hover {
  background-color: #506884;
  /* background-color: #3a5674; */
  cursor: pointer;
}
.loginLogo {
  height: 80%;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}
.modal {
  position: absolute;
  top: 100%;
}
.modal-content {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.headerBottomContainer {
  padding-left: 20px;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-content: flex-end;
  font-family: sans-serif;
}

.nav-link {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  /* background-color: #f1f1f1; */
  border-radius: 5px;
  border-bottom: solid 1px black;
}
.nav-link:hover {
  background-color: #506884;
  cursor: pointer;
}

/* Header Section above */

/* Id and classes on every page below here*/
#container {
  height: 92%;
  width: 100%;
  display: flex;
  /* background-color: #1c87c9; */
}
.pageContainer {
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ebebea;
}
/* Id and classes on every page above here*/

/*
CSS for all the createIssue page below here 
*/
.clinicianInfoPageContainer {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.clinicianInfoHeader {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clinicianForm {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.clinicianInfoImage {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  /* background-color: #1c87c9; */
}
.clinicianInfoTitle {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  /* background-color: pink; */
}

.clinicianInfoContainer {
  width: 60%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.clinicianInfoTypes {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.clinicianInfo {
  width: 80%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin: 0;
}
.clinicianInfo:hover {
  background-color: #ebebea;
}
.clinicianRequestType {
  width: 80%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin: 0;
}
.clinicianButton {
  width: 20%;
  display: flex;
  justify-content: center;
  border: none;
  background: #304964;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
}
.clinicianButton:hover {
  background: #506884;
  cursor: pointer;
}
/*
CSS for all the clinician info above here ^^^
*/

/* 
CSS for all the TicketForms below here
*/
.request-left {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.ticketFormPage {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
}
.currentTicketForm {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticketFormHeader {
  width: 100%;
  height: 7%;
  max-height: 10%;
  padding-left: 10px;
  font-weight: 400;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ticketForm {
  width: 100%;
  height: 93%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: flex-start;
}

.ticketFormItemsContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* background-color: #ebebea; */
}

.ticketFormItems {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 1%;
  /* background-color: aqua; */
}
.ticketFormItemIdentifier {
  width: 20%;
  height: 100%;
  font-size: 1.5em;
  padding-left: 30px;
  font-weight: 400;
  /* background-color: #1c87c9; */
}
.ticketFormSummary,
.ticketFormRequestType,
.ticketFormVerifyAssets {
  width: 80%;
  height: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px 20px;
}
.ticketFormSummary:hover,
.ticketFormAddress:hover,
.ticketFormDescription:hover,
.ticketFormSupplies:hover {
  background-color: #ebebea;
}

.ticketFormVerifyAssets:hover,
.ticketFormRequestType:hover {
  background-color: #ebebea;
  cursor: pointer;
}

.ticketFormDescription,
.ticketFormSupplies,
.ticketFormAddress {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px 20px;
  resize: none;
  overflow: auto;
}

.ticketFormCommentSection {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ticketAllCommentsContainer {
  width: 99%;
  height: 70%;
  max-height: 80%;
  /* background-color: white; */
  border-color: lightgray;
  border-style: double;
  border-radius: 10px;
  overflow: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  /* ::-webkit-scrollbar { */
  /* For vertical scrollbars */
  /* width: 0px;  */
  /*For horizontal scrollbars} */
  /* height: 0px;  */
}

.ticketAllComments {
  width: 100%;
  min-height: 20%;
  padding: 1%;
  /* background-color: antiquewhite; */
  border-bottom: lightgray 1px solid;

  margin-bottom: 1%;
}
.commentHeader {
  width: 100%;
  min-height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
.commentTitle {
  margin-left: 1%;
  font-size: 1.1em;
}
.commentType {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 200;
  margin-right: 1%;
  border-radius: 5px;
  border-style: double;
  border-color: lightgray;
}
.comment {
  width: 100%;
  min-height: 10%;
  flex-grow: 3;
  white-space: pre-wrap;
  overflow: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 1%;
}
.commentActions {
  width: 10%;
  min-height: 4%;
  padding-left: 1%;
  padding-right: 1%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.commentEdit {
}
.commentDelete {
}

.ticketCommentSection {
  width: 100%;
  height: 30%;
  /* max-height: 20%; */
  /* z-index: 5; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentSectionContainer {
  width: 99%;
  height: 95%;
  background-color: white;
  border-color: lightgray;
  border-style: double;
  border-radius: 10px;
}
.commentSectionHeader {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}
.commentSectionHeaderCanned {
  width: 20%;
  height: 99%;
  background-color: white;
  margin-right: 5%;
  font-size: 1.1em;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.commentSectionHeaderCanned:hover {
  /* background-color: #ebebea; */
  font-weight: 1000;
  cursor: pointer;
}

.commentSectionBody {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}
.commentBox {
  width: 100%;
  height: 85%;
  overflow: scroll;
  background-color: #ebebea;
  padding: 1%;
  resize: none;
  border: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 0px; /* For vertical scrollbars */
    height: 0px; /* For horizontal scrollbars */
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.commentBoxButtons {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.commentButtonPublic {
  width: 20%;
  height: 90%;
  background-color: #c4d600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
.commentButtonPublic:hover {
  background-color: #e1ff00;
  cursor: pointer;
}
.commentButtonInternal {
  width: 20%;
  height: 90%;
  background-color: #304964;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.1em;
}
.commentButtonInternal:hover {
  background-color: #506884;

  cursor: pointer;
}

.ticketFormButtonContainer {
  height: 5%;
  width: 100%;
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
.ticketFormButton {
  width: 20%;
  height: 50%;
  padding: 10px;
  border: none;
  background: #304964;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticketFormButton:hover {
  background: #506884;
  cursor: pointer;
}
.ticketFormSecondButton {
  width: 20%;
  height: 4%;
  padding: 10px;
  border: none;
  /* background: #304964; */
  font-size: 1.5em;
  font-weight: 400;
  color: #304964;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.ticketFormSecondButton:hover {
  /* background: #506884; */
  cursor: pointer;
  text-decoration: underline;
}

.ticketFormResolveContainer {
  width: 99%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  border-color: lightgray;
  border-style: double;
  border-radius: 10px;
}
.ticketFormResolveItems {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.ticketFormResolveItemHeader {
  height: 50%;
  width: 30%;
  font-size: 1.5em;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 5%; */
}
.ticketFormResolveItemBody {
  height: 50%;
  width: 70%;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px 20px;
}
.ticketFormResolveItemBody:hover {
  background-color: #ebebea;
  cursor: text;
}
.ticketFormResolveItemBodyIssues {
  height: 50%;
  width: 70%;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  /* padding: 10px 20px; */
  /* background-color:yellow; */
}
.ticketFormResolveItemBodyIssues:hover {
  background-color: #ebebea;
  cursor: text;
}
.ticketFormResolveItemBodyIssues:focus-within {
  border: 2px solid blue; /* Adds a blue border when an element inside it is focused */
}
.ticketFormResolveItemBodyIssueKeys {
  background-color: #c4d600;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22%;
  font-size: 1em;
}
.ticketFormResolveItemBodyIssueInput {
  height: 100%;
  width: 100%;
  border: none;
  color: black;
  outline: none;
  border-radius: 10px;
  font-size: 1.2em;
  padding-left: 2%;
}
.ticketFormResolveItemBodyIssueInput:hover {
  background-color: #ebebea;
  cursor: text;
}
.ticketFormResolveItemBodylabel {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}
.ticketFormResolveItemBodylabels {
  font-size: 1em;
  /* padding-bottom: 5px; */
}
.ticketFormResolveItemBodyCategories {
  height: 49%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.ticketFormResolveItemBodyCategorySelector {
  font-size: 1.2em;
  width: 49%;
  padding: 10px 20px;
  border-radius: 10px;
}
.ticketFormResolveItemBodyCategorySelector:hover {
  background-color: #ebebea;
}

/* 
CSS for all the TicketForms above here
*/

#requestError {
  color: red;
}

.button {
  color: white;
  background-color: rgb(100, 89, 245);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* Styling for form elements */
.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

/* End of styling for form elements */

/*Styling for the Request page below*/
.request-container {
  /*Style for left and right box container*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: max-content;
  /* padding: 15px; */
  /* border: 10px solid black; 1px wide, solid style, black color */
}

.request-left-box-container {
  width: 50%; /* Set the width to half of the viewport width */
  height: 100%;
  min-width: 50%;
  min-height: 100%;
  max-width: 50%;
  max-height: 100%;
  position: static;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(0, 0, 0); 1px wide, solid style, black color */
  position: static;
  overflow: hidden;
}
.request-left-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: static;

  /* border: 1px solid rgb(0, 0, 0); 1px wide, solid style, black color */
}

.request-right-box {
  width: 50%; /* Set the width to half of the viewport width */
  height: 100%;
  min-width: 50%;
  min-height: 100%;
  max-width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(0, 0, 0); 1px wide, solid style, black color */
  position: static;
  overflow: hidden;
}
.request-top-right-box-container {
  width: 100%;
  height: 20%;
  padding: 10px;
  flex: 1;
  /* border: 1px solid rgb(0, 0, 0); 1px wide, solid style, black color */
  position: static;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.request-bottom-right-box-container {
  padding: 10px;
  width: 100%;
  height: 80%;
  /* border: 1px solid rgb(0, 0, 0); 1px wide, solid style, black color */
  position: static;
  overflow: hidden;
}
.request-bottom-right-box {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}
.request-top-right-box {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}

.reporter-pastTickets {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}

.reporter-pastTickets-Title {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5%;
  position: sticky;
  font-size: 2rem;
}

.reporter-pastTickets-Title > div:nth-child(2) {
  height: 50%;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #ebebea;
}
.full-ticket-table-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
.full-ticket-table {
  width: 100%;
  table-layout: fixed;
}
.clicked {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  transition-duration: 0.4s;
}
.notClicked {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  transition-duration: 0.4s;
}
.full-ticket-table table {
  height: 93%;
  width: 100%;
  overflow: hidden;
}
.full-ticket-table td {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.full-ticket-table tbody {
  display: block;
  max-height: 100%; /* Set this to the desired height */
}
.full-ticket-table tr {
  display: table;
  width: 100%;
  height: 5%;
  table-layout: fixed;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}
.full-ticket-table-header {
  width: 100%;
  height: 7%;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  text-align: start;
  background-color: #ebebea;
}

.full-ticket-table-header tr {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(223, 225, 230);
}
.full-ticket-table-body {
  width: 100%;
  max-height: 93%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 100;
  overflow: auto;
}
.full-ticket-table-body::-webkit-scrollbar {
  display: none;
}

.full-ticket-table-body tr:hover {
  background-color: #f5f5f5;
}

.clinicianStatus {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}
.clinicianStatus > button {
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  width: 18%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whiteLetter {
  background-color: green;
  color: white;
}
.blackLetter {
  background-color: orange;
  color: black;
}
.black {
  color: whitesmoke;
  background-color: black;
}
.greenLetter {
  background-color: white;
  color: green;
}

/*Request page styling above*/

.supplyFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
}
.supplyFormHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 7%;
  color: black;
}
.supplyForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 93%;
  padding: 25px;
  justify-content: space-around;
}
.supplyFormItemsContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}
.supplyFormItem {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 1%;
  /* padding-left: 20%; */
}
.supplyFormItemIdentifier {
  width: 20%;
  height: 100%;
  font-size: 1.5em;
  padding-left: 30px;
  font-weight: 400;
  /* background-color: #1c87c9; */
}
.supplyFormItemType1 {
  width: 80%;
  height: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2em;
  /* padding: 10px 20px; */
}
.stateSelector {
  width: 80%;
  height: 100%;
  border-radius: 10px;
}
.supplyPreviewSubmit {
  width: 80%; /* adjust as needed */
  padding: 20px; /* adjust as needed */
  font-size: 1.5em; /* adjust as needed */
  margin-bottom: 20px; /* adjust as needed */
}

.mainSection {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
}
.createIssueContainer {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
}
.reporterContainer {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  display: flex;
  align-items: center;
}
/* Landing page information below */
.landingOrganizer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landingTopSection {
  width: 100%;
  height: 15%;
  padding: 10px;
  display: flex;
}
.landingStatsContainer {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}
.landingHeaderContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}

.landingBottomSection {
  width: 100%;
  height: 85%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.landingBottomLeftSection {
  width: 49.75%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  display: flex;
  background-color: white;
}
.landingBottomRightSection {
  width: 49.75%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  display: flex;
  background-color: white;
}
.loading {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 5%;
  align-items: center;
}
.loading > div {
  padding-left: 10px;
  font-size: x-large;
}
.loadingGif {
  width: 20%;
  height: 75%;
}
.landingStats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgb(225, 99, 56); */
}
.landingStatsChart {
  height: 100px;
  background-color: pink;
}

/* triage section below */
.triage-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: lightcoral; */
}

.triage-ticket-table-title {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5%;
  position: sticky;
  font-size: 2rem;
}
.triage-ticket-table-title > div:nth-child(2) {
  height: 50%;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #ebebea;
}
.triage-ticket-table-container {
  width: 100%;
  height: 92%;
  overflow-y: scroll;
}

.triage-ticket-table {
  width: 100%;
  table-layout: fixed;
  /* background-color: lightblue; */
}

.triage-ticket-table-header {
  width: 100%;
  height: 7%;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  text-align: start;
  background-color: #ebebea;
}
.triage-ticket-table-header tr {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(223, 225, 230);
}

.triage-ticket-table-headerItems {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
  justify-content: start;
}
.triage-ticket-table-headerItems:hover {
  cursor: pointer;
  background-color: #d0cfce;
}
.triage-ticket-table-headerItemsImg {
  height: 20px;
  width: 20px;
}

.triage-ticket-table-body {
  width: 100%;
}

.triage-ticket-table-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.triage-ticket-table-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.triage-ticket-table-body tr:hover {
  background-color: #f5f5f5;
}

.triage-ticket-table table {
  width: 100%;
  height: 100%;
}

.triage-ticket-table td {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.triage-ticket-table tbody {
  display: block;
  max-height: 100%; /* Set this to the desired height */
  /* overflow-y: auto; */
}

.triage-ticket-table tr {
  display: table;
  width: 100%;
  height: 5%;
  table-layout: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* triage section above */
/* Landing page information above */

/* 
CSS for all the AssignedToMe page below here
*/
.assignedToMeLeftSection {
  width: 15%;
  height: 100%;
}
.assignedToMeRightSection {
  width: 85%;
  height: 100%;
}
.assignedToMeQueuesContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
}

.assignedToMeQueues {
  width: 100%;
  height: 100%;
  padding: 10px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  background-color: white;
}

.assignedToMeQueuesHeader {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  padding-top: 1%;
}
.assignedToMeQueuesBody {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .assignedToMeQueuesBody div {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  flex-direction: row;
} */
.assignedToMeAllQueueTitles {
  width: 100%;
  height: 10%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.assignedToMeAllQueueTitles:hover {
  background-color: #ebebea;
  cursor: pointer;
}
.assignedToMeAllQueueTitleHeaders {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.assignedQueueLength {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: #bcbab9;
  border-radius: 20px;
}

.assignedToMeCurrentQueue {
  background-color: #ebebea;
}
.assignedToMeCurrentQueue:hover {
  background-color: #d0cfce;
}
.assignedMs {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.assignedToMeTableContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e2e2;
  overflow-y: auto;
  background-color: white;
  /* background-color: #000000; */
}

.assignedToMeTable {
  width: 100%;
  table-layout: fixed;
}

/* .assignedToMeTableContainer table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  background-color: lightcyan;
} */
.assignedToMeTableContainer tr {
  display: table;
  width: 100%;
  height: 5%;
  table-layout: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
}

.assignedHeadersContainer {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: start;
  background-color: #ebebea;
  display: block;
}
.assignedHeadersContainer tr {
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(223, 225, 230);
}

.assignedBody {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 1.2em;
}

.assignedHeadersContainer th:nth-child(1) {
  width: 7%;
}
.assignedHeadersContainer th:nth-child(2) {
  width: 8%;
}
.assignedHeadersContainer th:nth-child(3) {
  width: 50%;
}
.assignedHeadersContainer th:nth-child(4) {
  width: 15%;
}
.assignedHeadersContainer th:nth-child(5) {
  width: 10%;
}
.assignedHeadersContainer th:nth-child(6) {
  width: 5%;
}
.assignedHeadersContainer th:nth-child(7) {
  width: 5%;
}

.assignedBody td:nth-child(1) {
  width: 7%;
}
.assignedBody td:nth-child(2) {
  width: 8%;
}
.assignedBody td:nth-child(3) {
  width: 50%;
}
.assignedBody td:nth-child(4) {
  width: 15%;
}
.assignedBody td:nth-child(5) {
  width: 10%;
}
.assignedBody td:nth-child(6) {
  width: 5%;
}
.assignedBody td:nth-child(7) {
  width: 5%;
}

/* 
CSS for all the AssignedToMe page above here
*/

/*
Css for all the SupplyFormRequest Page here
*/
.supplyFormRequestContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  border: 1px solid #e4e2e2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.supplyReporter-pastTickets {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}
